* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #313537 #090e11;
    scrollbar-width: thin;
  }
  
  html,
  body {
    /* height: 100%; */

  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Variables */
  :root {
    --background-green: #031313;
    --background-beige: #042e2e;
    --sidebar-header: #2a2f32;
    --notifications-text-color: rgba(255, 247, 247, 0.96);
    --notifications-link-color: rgba(133, 128, 128, 0.85);
    --notifications-background-color: #353636;
    --search-bar-bg: #2b2424;
   /*--black: #eee5e5;*/
    --text-gray: #757070;
    --chat-border: #9e9999;
    --whatsapp-green: #7a8179;
    --scrollbar-color: #696767;
    --chat-window-scrollbar-color: #666564;
    --chat-hover-color: #f5f5f5;
    --chat-active-color: #7e7c7c;
    --chat-window-beige: #075050;
    --sender-message-green: #184940;
  }
  
  /* MAIN GRID */

  .grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 12.8rem 1fr;
  }
  
  /*APP BACKGROUND */

  .top {
    background: var(--background-green);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  
  .bottom {
    background: var(--background-beige);
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }
  
  /* APP */

  .app {
    display: grid;
    grid-template-columns: 42rem 1fr;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 139.6rem;
    margin: 2rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1rem 0.05rem rgba(0, 0, 0, 0.2);
  }
  
  /* SIDEBAR  */

  .sidebar {
    grid-column: 1 / 2;
    background: var(--white);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  /* Sidebar header */
  .sidebar-header {
    background: var(--sidebar-header);
    display: flex;
    justify-content: space-between;
    height: 6rem;
    padding: 1rem 2rem;
  }

  /* Profile image */

  .sidebar-header > img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .sidebar-header-icons {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    /* cursor: pointer; */
  }

.header-icon{
    color: #fff;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}
  
  .sidebar-header-icons img:active {
    background: var(--box-shadow-color);
    border-radius: 50%;
    box-shadow: 0 0 1px 8px var(--box-shadow-color);
  }
  
  /* Adds margin to icon in the center */

  .sidebar-header-icons img:nth-child(2) {
    margin: 0 3rem;
  }
  
  /* Sidebar notifications */

  .sidebar-notifications {
    display: flex;
    align-items: center;
    background:#184940;
    height: 9rem;
    padding: 0 2rem;
    cursor: pointer;
  }
  
  .sidebar-notifications > img {
    margin-right: 2rem;
  }
  
  .sidebar-notifications-message {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .sidebar-notifications-message span {
    font-size: 1.6rem;
    color: var(--notifications-text-color);
  }
  
  .sidebar-notifications-message a {
    font-size: 1.4rem;
    color: var(--notifications-link-color);
  }
  
  .sidebar-notifications-message img {
    vertical-align: middle;
  }
  
  .sidebar-notifications-message a:hover {
    text-decoration: underline;
  }
  
  /* Sidebar search chat */

  .search-chat {
    background: var(--search-bar-bg);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .search-bar {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid var(--chat-border);
  }
  
  .search-bar > svg {
    width: 2.8rem;
    background-color: rgb(150, 150, 150);
    height: 40px;
    color: blanchedalmond;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding-left: 1rem;
  }
  
  .search-bar input {
    outline: none;
    border: none;
    padding: 1rem 1rem 1rem 2rem;
    flex: 1;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-family: "Segoe UI";
  }
  
  .search-bar input::placeholder {
   background-color:#3a3535;
  }
  
  /* Chats */

  .chats {
    height: 48rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  /* .chats::-webkit-scrollbar {
    width: 0.7rem;
    height: 3rem;
  }
  
  .chats::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
  } */
  
  .chat {
    display: flex;
    align-items: center;
    padding: 1rem 0 0 2rem;
    cursor: pointer;
  }
  
  .chat:hover {
    background:rgb(54, 53, 53);
  }
  
  .chat:hover .chat-options {
    display: initial;
  }
  
  .active-chat {
    background: var(--chat-active-color) !important;
  }
  
  .chat-left img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  
  .chat-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--chat-border);
  }
  
  /* This line removes the border bottom from the last chat */

  .chat:last-of-type .chat-right {
    border-bottom: none;
  }
  
  .chat-right-top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  
  .contact-name {
    font-size: 1.7rem;
    color:#d8d8d8;
  }
  
  .chat-message {
    font-size: 1.5rem;
    color:white;
  }
  
  .chat-date {
    font-size: 1.2rem;
    color: gray;
  }

  .chat-time {
    font-size: 1.2rem;
    color: gray;
  }

  .chat-right-bottom {
    display: flex;
  }
  
  .chat-right-bottom-left {
    display: flex;
    align-items: flex-end;
    flex: 1;
  }
  
  .chat-right-bottom-right {
    display: flex;
    align-items: center;
  }
  
  .unread-messages-number {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: green;
    color: var(--white);
    font-weight: 500;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
  }
  
  .chat-options {
    display: none;
    margin-left: 0.5rem;
  }
  
  .chat-options img {
    vertical-align: middle;
    width: 20px;
  }
  
  .single-check-mark,
  .double-check-mark {
    margin-right: 0.2rem;
  }
  
  .single-check-mark {
    width: 1.4rem;
  }
  
  .double-check-mark {
    width: 2rem;
  }
  
  
  /* MAIN */
  
  .main {
    grid-column: 2 / -1;
    /* background: var(--chat-window-beige); */
    background-image: url("funny-bg.png"), linear-gradient(#000000, #0d1418); /* W3C */
    background-color: #0d1418;
    background-position: center;
    position: relative;
  }
  .main-overlay{
    background-color: rgba(0, 0, 0, 0.788);
  }
  
  /* Main chat window header */
  .chat-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 1rem 2rem;
    background: var(--sidebar-header);
    cursor: pointer;
  }
  
  .chat-window-header-left {
    display: flex;
    align-items: center;
  }
  
  .contact-name-and-status-container {
    display: flex;
    flex-direction: column;
    color:honeydew;
  }
  
  .chat-window-contact-image {
    width: 4.9rem;
    height: 4.4rem;
    border-radius: 2.75rem;
    cursor: pointer;
    margin-right: 1.5rem;
  }
  
  .chat-window-contact-name {
    font-size: 1.7rem;
  }
  
  .chat-window-contact-status {
    color: var(--text-gray);
    font-size: 1.3rem;
  }
  
  .chat-window-menu-icon {
    margin-left: 2rem;
  }
  
  .chat-window-menu-icon:active {
    background: var(--box-shadow-color);
    border-radius: 50%;
    box-shadow: 0 0 1px 8px var(--box-shadow-color);
  }
  
  /* Chat window */
  
  .chat-window {
    display: flex;
    flex-direction: column;
    padding: 10rem 10rem 6rem 10rem;
    height: 62rem;
    overflow: scroll;
    overflow-x: hidden;
    background: url(../images/bg-chat.png);
    background-repeat: repeat;
  }
  
  .chat-window::-webkit-scrollbar {
    width: 0.7rem;
    height: 3rem;
  }
  
  .chat-window::-webkit-scrollbar-track {
    background: var(--chat-window-beige);
  }
  
  .chat-window::-webkit-scrollbar-thumb {
    background: var(--chat-window-scrollbar-color);
  }
  
  .sender,
  .receiver {
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    margin-bottom: 0.3rem;
    position: relative;
  }
  
  .sender {
    background: var(--sender-message-green);
    align-self: flex-end;
  }
  
  .receiver {
    background: var(--text-gray);
    align-self: flex-start;
  }
  
  .sender-message,
  .receiver-message {
    font-size: 1.4rem;
    margin-right: 3rem;
  }
  
  .receiver-message-tail,
  .sender-message-tail {
    width: 0.8rem;
    height: 1.3rem;
    position: absolute;
    top: 0;
  }
  
  .receiver-message-tail {
    left: -0.5rem;
  }
  
  .sender-message-tail {
    right: -0.5rem;
  }
  
  /* Reset input range styles */
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #30b6b6;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
  }
  
  input[type="range"] {
    background: #d8d8d8;
    width: 100%;
    height: 0.5rem;
    -webkit-appearance: none;
    border-radius: 1rem;
  }
  
  /* Type message bar */
  .type-message-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    /*background: #3a3535;*/
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }
  
  .type-message-bar img {
    cursor: pointer;
  }
  
  .type-message-bar-left img:nth-of-type(2) {
    margin: 0 2rem;
  }
  
  .type-message-bar-center {
    flex: 1;
  }
  
  .type-message-bar-center input {
    width: 100%;
    outline: none;
    border: none;
    padding: 1rem 1rem 1rem 2rem;
    flex: 1;
    border-radius: 2rem;
    font-family: "Segoe UI";
  }
  
  .type-message-bar-right {
    margin-left: 2rem;
  }


 /* Mobile responsiveness
=========================================================
*/

@media screen and (max-width: 64em) {
    .grid {
        display: grid;
        height: 100%;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 12.8rem 1fr;
      }
      
    
      .top {
        background: var(--background-green);
        grid-column: 1 / -1;
        grid-row: 1 / 2;
      }
      
      .bottom {
        background: var(--background-beige);
        grid-column: 1 / -1;
        grid-row: 2 / -1;
      }
      
    
      .app {
        display: grid;
        grid-template-columns: 42rem 1fr;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 139.6rem;
        margin: 2rem auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 1rem 0.05rem rgba(0, 0, 0, 0.2);
      }
      
    
      .sidebar {
        grid-column: 1 / 2;
        background: var(--white);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
      }
      
      .sidebar-header {
        background: var(--sidebar-header);
        display: flex;
        justify-content: space-between;
        height: 6rem;
        padding: 1rem 2rem;
      }
      
      
      .sidebar-header-icons {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
        cursor: pointer;
      }
      
      .sidebar-header-icons img:active {
        background: var(--box-shadow-color);
        border-radius: 50%;
        box-shadow: 0 0 1px 8px var(--box-shadow-color);
      }
      
     
        
      .sidebar-notifications {
        display: flex;
        align-items: center;
        background:#184940;
        height: 9rem;
        padding: 0 2rem;
        cursor: pointer;
      }
      
      .sidebar-notifications > img {
        margin-right: 2rem;
        
      }
      
      .sidebar-notifications-message {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      
      .sidebar-notifications-message span {
        font-size: 1.6rem;
        color: var(--notifications-text-color);
      }
      
      .sidebar-notifications-message a {
        font-size: 1.4rem;
        color: var(--notifications-link-color);
      }
      
      .sidebar-notifications-message img {
        vertical-align: middle;
      }
      
      .sidebar-notifications-message a:hover {
        text-decoration: underline;
      }
          
      .search-chat {
        background: var(--search-bar-bg);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      
      .search-bar {
        display: flex;
        padding: 1rem;
        border-bottom: 1px solid var(--chat-border);
      }
      
      .search-bar > img {
        width: 2.8rem;
        background: var(--white);
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        padding-left: 1rem;
      }
      
      .search-bar input {
        outline: none;
        border: none;
        padding: 1rem 1rem 1rem 2rem;
        flex: 1;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        font-family: "Segoe UI";
      }
      
      .search-bar input::placeholder {
       background-color:#3a3535;
      }
      
    
      .chats {
        height: 48rem;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      
      .chats::-webkit-scrollbar {
        width: 0.7rem;
        height: 3rem;
      }
      
      .chats::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
      }
      
      .chat {
        display: flex;
        align-items: center;
        padding: 1rem 0 0 2rem;
        cursor: pointer;
      }
      
      .chat:hover {
        background:rgb(54, 53, 53);
      }
      
      .chat:hover .chat-options {
        display: initial;
      }
      
      .active-chat {
        background: var(--chat-active-color) !important;
      }
      
      .chat-left img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }
      
      .chat-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--chat-border);
      }
          
      .chat:last-of-type .chat-right {
        border-bottom: none;
      }
      
      .chat-right-top {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 0.5rem;
      }
      
      .contact-name {
        font-size: 1.7rem;
        color:#d8d8d8;
      }
      
      .chat-message {
        font-size: 1.5rem;
        color:white;
      }
      
      .chat-date {
        font-size: 1.2rem;
        color: gray;
      }
    
      .chat-time {
        font-size: 1.2rem;
        color: gray;
      }
    
      .chat-right-bottom {
        display: flex;
      }
      
      .chat-right-bottom-left {
        display: flex;
        align-items: flex-end;
        flex: 1;
      }
      
      .chat-right-bottom-right {
        display: flex;
        align-items: center;
      }
      
      .unread-messages-number {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background: green;
        color: var(--white);
        font-weight: 500;
        border-radius: 50%;
        text-align: center;
        line-height: 2rem;
      }
      
      .chat-options {
        display: none;
        margin-left: 0.5rem;
      }
      
      .chat-options img {
        vertical-align: middle;
      }
      
      .single-check-mark,
      .double-check-mark {
        margin-right: 0.2rem;
      }
      
      .single-check-mark {
        width: 1.4rem;
      }
      
      .double-check-mark {
        width: 2rem;
      }
      
            
      .main {
        grid-column: 2 / -1;
        background: var(--chat-window-beige);
        position: relative;
      }
      
      .chat-window-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6rem;
        padding: 1rem 2rem;
        background: var(--sidebar-header);
        cursor: pointer;
      }
      
      .chat-window-header-left {
        display: flex;
        align-items: center;
      }
      
      .contact-name-and-status-container {
        display: flex;
        flex-direction: column;
        color:honeydew;
      }
      
      .chat-window-contact-image {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 1.5rem;
      }
      
      .chat-window-contact-name {
        font-size: 1.7rem;
      }
      
      .chat-window-contact-status {
        color: var(--text-gray);
        font-size: 1.3rem;
      }
      
      .chat-window-menu-icon {
        margin-left: 2rem;
      }
      
      .chat-window-menu-icon:active {
        background: var(--box-shadow-color);
        border-radius: 50%;
        box-shadow: 0 0 1px 8px var(--box-shadow-color);
      }
      
      
      .chat-window {
        display: flex;
        flex-direction: column;
        padding: 10rem 10rem 6rem 10rem;
        height: 62rem;
        overflow: scroll;
        overflow-x: hidden;
        background: url(../images/bg-chat.png);
        background-repeat: repeat;
      }
      
      .chat-window::-webkit-scrollbar {
        width: 0.7rem;
        height: 3rem;
      }
      
      .chat-window::-webkit-scrollbar-track {
        background: var(--chat-window-beige);
      }
      
      .chat-window::-webkit-scrollbar-thumb {
        background: var(--chat-window-scrollbar-color);
      }
      
      .sender,
      .receiver {
        border-radius: 0.5rem;
        padding: 0.8rem 1rem;
        margin-bottom: 0.3rem;
        position: relative;
      }
      
      .sender {
        background: var(--sender-message-green);
        align-self: flex-end;
      }
      
      .receiver {
        background: var(--text-gray);
        align-self: flex-start;
      }
      
      .sender-message,
      .receiver-message {
        font-size: 1.4rem;
        margin-right: 3rem;
      }
      
      .receiver-message-tail,
      .sender-message-tail {
        width: 0.8rem;
        height: 1.3rem;
        position: absolute;
        top: 0;
      }
      
      .receiver-message-tail {
        left: -0.5rem;
      }
      
      .sender-message-tail {
        right: -0.5rem;
      }
      
      input[type="range"]:focus {
        outline: none;
      }
      
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: #30b6b6;
        cursor: pointer;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
      }
      
      input[type="range"] {
        background: #d8d8d8;
        width: 100%;
        height: 0.5rem;
        -webkit-appearance: none;
        border-radius: 1rem;
      }
      
      .type-message-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        /*background: #3a3535;*/
        padding: 1rem 2rem;
        justify-content: space-between;
        align-items: center;
        z-index: 999;
      }
      
      .type-message-bar img {
        cursor: pointer;
      }
      
      .type-message-bar-left img:nth-of-type(2) {
        margin: 0 2rem;
      }
      
      .type-message-bar-center {
        flex: 1;
      }
      
      .type-message-bar-center input {
        width: 100%;
        outline: none;
        border: none;
        padding: 1rem 1rem 1rem 2rem;
        flex: 1;
        border-radius: 2rem;
        font-family: "Segoe UI";
      }
      
      .type-message-bar-right {
        margin-left: 2rem;
      }
	}

	