
body {
  font-family: Roboto, Arial;
  font-size: 0.8em;
  color: #666;
  overflow-y: hidden;
}


@media (max-width: 600px) {
  .weather-forecast {
    width: 100%;
  }
}

@media (min-width: 601px) {
  body {
    font-size: 1em;
  }
}

@media (min-width: 360px) {
  body {
    font-size: 1.0em;
  }
}

@media (min-width: 500px) {
  .seven-day-fc .temp-low,
  .seven-day-fc .temp-high {
    display: inline-block;
    width: 45%;
  }
}

@media (min-width: 700px) {
    .weather-forecast {
        width: 700px;
    }

    .w-screenshot {
        border: 1px solid #dadce0;
        padding: 4px;
        box-sizing: content-box;
        margin-left: -5px;
    }
    img {
        -ms-interpolation-mode: bicubic;
        display: inline-block;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
}

@media (min-width: 360px) {
    body {
      font-size: 1.0em;
    }
}
  
@media (min-width: 500px) {
    .seven-day-fc .temp-low,
    .seven-day-fc .temp-high {
      display: inline-block;
      width: 45%;
    }
  
    .seven-day-fc .seven-day-temp {
      margin-left: 5%;
    }
  
    .seven-day-fc .icon {
      width: 64px;
      height: 64px;
    }
}